html {
	width: 100%;
	text-align: center;
}

body {
	display: inline-block;
	color: #222;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding: 0 10px;
	width: 480px; /* Will be overwritten by d3.js once it knows the shift chart width */
	margin: 20px auto 80px auto;
}

h1 {
	text-align: left;
	font-size: 25px;
	font-weight: 500;
	line-height: 32px;
	margin: 0;
	margin-bottom: 40px;
}

h2 {
	text-align: left;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
}

div.chart {
	text-align: left;
}

#shifts-div {
	margin-top: 24px;
	margin-bottom: 48px;
}