html {
	width: 100%;
	overflow: auto;
	text-align: center;
}

body {
	display: inline-block;
	color: #222;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 24px;
	padding: 0 10px;
	width: 100%;
	margin: 20px auto 80px auto;
}

h1 {
	display: table;
	font-size: 25px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 40px;
}

h2 {
	display: table;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 16px;
}

div.chart {
	margin-bottom: 40px;
	text-align: left;
}
